/*****************table id=lihtne*****/
#lihtne{
    width: 60%;
    border: 1px solid black;
    height: 200px;
    border-collapse: collapse; /*üks joon borderis*/
}
#lihtne td{
    border: 1px solid black;
    text-align: center;
}
/*pseudostiilide kasutamine*/
#lihtne tr:nth-child(1) td:nth-child(1){/*1.rida 1.lahter*/
    background-color: red;
}
#lihtne tr:nth-child(1) td:nth-child(2){/*1.rida 2.lahter*/
    background-color: rosybrown;
}
#lihtne tr:nth-child(2) td:nth-child(1){/*1.rida 1.lahter*/
    background-color: mistyrose;
}
#lihtne tr:nth-child(2) td:nth-child(2){/*1.rida 1.lahter*/
    background-color: lightpink;
}
/*****************table id=keeruline1*****/
#keeruline1{
    width: 40%;
    border: 1px solid black;
    height: 150px;
    border-collapse: collapse; /*üks joon borderis*/
}
#keeruline1 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline2{
    width: 40%;
    border: 1px solid black;
    height: 150px;
    border-collapse: collapse; /*üks joon borderis*/
}
#keeruline2 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline3{
    width: 10%;
    border: 1px solid black;
    height: 150px;
    border-collapse: collapse; /*üks joon borderis*/
}
#keeruline3 td{
    border: 1px solid black;
    text-align: center;
}#keeruline4{
     width: 10%;
     border: 1px solid black;
     height: 150px;
     border-collapse: collapse; /*üks joon borderis*/
 }
#keeruline4 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline4 tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
#keeruline4 tr:nth-child(2) td:nth-child(1){
    background-color: green;
}
#keeruline4 tr:nth-child(2) td:nth-child(2){
    background-color: blue;
}
#keeruline4 tr:nth-child(2) td:nth-child(3){
    background-color: cyan;
}
#keeruline4 tr:nth-child(3) td:nth-child(1){
    background-color: yellow;
}
#keeruline4 tr:nth-child(3) td:nth-child(2){
    background-color: pink;
}
#keeruline4 tr:nth-child(3) td:nth-child(3){
    background-color: green;
}
#keeruline4 tr:nth-child(4) td:nth-child(1){
    background-color: antiquewhite;
}
#keeruline4 tr:nth-child(4) td:nth-child(2){
    background-color: purple;
}
#keeruline4 tr:nth-child(5) td:nth-child(1){
    background-color: oldlace;
}
#keeruline4 tr:nth-child(6) td:nth-child(1){
    background-color: orange;
}
#keeruline5{
     width: 10%;
     border: 1px solid black;
     height: 150px;
     border-collapse: collapse; /*üks joon borderis*/
 }
#keeruline5 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline5 tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(1) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(1) td:nth-child(3){
    background-color: red;
}
#keeruline5 tr:nth-child(2) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(2) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(3) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(3) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(4) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(4) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(5) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(5) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(5) td:nth-child(3){
     background-color: red;
 }
#keeruline5 tr:nth-child(6) td:nth-child(1){
    background-color: red;
}
#keeruline5 tr:nth-child(6) td:nth-child(2){
    background-color: red;
}
#keeruline5 tr:nth-child(6) td:nth-child(3){
    background-color: red;
}

#keeruline6{
    width: 10%;
    border: 1px solid black;
    height: 150px;
    border-collapse: collapse; /*üks joon borderis*/
}
#keeruline6 td{
    border: 1px solid black;
    text-align: center;
}
#keeruline6 tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
#keeruline6 tr:nth-child(1) td:nth-child(5){
    background-color: red;
}
#keeruline6 tr:nth-child(2) td:nth-child(2){
     background-color: red;
}
#keeruline6 tr:nth-child(3) td:nth-child(3){
      background-color: red;
}
#keeruline6 tr:nth-child(2) td:nth-child(4){
       background-color: red;
}
#keeruline6 tr:nth-child(4) td:nth-child(2){
    background-color: red;
}
#keeruline6 tr:nth-child(5) td:nth-child(1){
    background-color: red;
}
#keeruline6 tr:nth-child(4) td:nth-child(4){
    background-color: red;
}
#keeruline6 tr:nth-child(5) td:nth-child(5){
    background-color: red;
}