fieldset{
    border-radius: 25px;
    width: 200px;
}
button,
input[type=reset],
input[type=submit] {
    padding: 10px 16px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: 14px;
}
button, input[type=submit],input[type=resset]  {
 margin-right: 5px
}
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover{
    background-color: lightgray;
    color: blue;
}